.Notification {
  width: 400px;
  padding: 20px;
  position: fixed;
  top: -200px;
  right: 35px;
  transition: top .3s ease, opacity .3s ease;
  border-radius: 8px;
}

.Notification.Show {
  top: 35px;
  opacity: 1;
}

.Notification.Show {
  background: #058301;
  color: #FFF;
}

.Notification.Loading {
  background: #f1f1f1;
  color: var(--text);
}