/* HEADER */

header {
  background: var(--primary);
  height: 300px;
  display: inline-block;
  width: 100%;
}

.Box {
  width: calc(100% - 100px);
  margin: 30px auto;
  max-width: 1500px;
}

.Logo img{
  width: 85px;
}

.Search {
  padding-top: 15px;
  margin-left: 30px;
  width: calc(100% - 120px);
  max-width: 50%;
}

.Search input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 46px;
  outline: none;
  padding: 0 45px 0 20px;
  color: #FFF;
  font-size: 20px;
  background: url(./assets/images/magnifying-glass.svg) right 20px center / 17px no-repeat rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 500px) {
  .Logo {
    width: 100%;
    margin-bottom: 15px
  }

  .Logo img {
    margin: auto;
    display: block;
  }

  .Search {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

/* CARDLIST */

.CardList {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: -150px;
  padding-right: 50px;
}

.Card {
  width: 20%;
  padding-left: 50px;
  margin-bottom: 5%;
  position: relative;
  padding-top: 23%;
  animation: fadeUp .3s both;
  z-index: 1;
}

.Card:hover {
  z-index: 2;
}

.Card__Box {
  width: calc(100% - 50px);
  margin: auto;
  position: absolute;
  top: 0;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  transition: box-shadow .2s ease;
}

.Card__Box:hover {
  box-shadow: 0 0 0 15px #FFF, 0 15px 60px rgba(0, 0, 0, 0.21);
  background: #FFF;
}

.Card__Image {
  width: 100%;
  padding-top: 150%;
  background: center center / cover no-repeat;
  border-radius: 5%;
  box-shadow: 0 15px 31px -5px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.Card__Text {
  display: none;
  color: var(--text);
}

.Card__Box:hover .Card__Text {
  display: block;
}

.Film__Title {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 17px;
}

.Film__Plot {
  font-size: 15px;
  margin-bottom: 10px;
}

.Film__Info span {
  color: var(--primary);
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .Card {
    width: 25%;
    padding-top: 30%;
  }
}

@media screen and (max-width: 850px) {
  .Card {
    width: 33.33%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 650px) {
  .Card {
    width: 50%;
    padding-top: 70%;
  }
}

@media screen and (max-width: 500px) {
  .CardList {
    margin-top: -100px;
  }

  .Card {
    width: 100%;
    padding-top: 150%;
  }
}

/* OTHERS */

.Message {
    margin: auto;
    text-align: center;
    margin-top: 100px;
    color: var(--primary);
    font-size: 25px;
    max-width: 470px;
    padding-left: 50px;
}

.Message::before {
  content: '';
  background: url(./assets/images/cinema.svg) center center / contain no-repeat;
  padding: 45px;
  margin-bottom: 50px;
  display: block;
}

.NotFound {
  color: var(--text);
}

.NotFound span {
  color: var(--primary);
  font-weight: bold;
}

.NotFound::before {
  background-image: url(./assets/images/oculos_cinema.svg); 
}

.Loading::before {
  background-image: url(./assets/images/loading.svg); 
}

footer {
  width: 100%;
  height: 300px;
  background: url(./assets/images/clapperboard.svg) center center / 80px no-repeat;
}

@media screen and (max-width: 500px) {
  .Message {
    margin-top: 50px;
  }
}