/* HEADER */

header {
  background: var(--primary);
  height: 300px;
  display: inline-block;
  width: 100%;
}

.Box {
  width: calc(100% - 100px);
  margin: 30px auto;
  max-width: 1500px;
}

.Logo img{
  width: 85px;
}

.Search {
  padding-top: 15px;
  margin-left: 30px;
  width: calc(100% - 120px);
  max-width: 50%;
}

.Search input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 46px;
  outline: none;
  padding: 0 45px 0 20px;
  color: #FFF;
  font-size: 20px;
  background: url(./assets/images/magnifying-glass.svg) right 20px center / 17px no-repeat rgba(0, 0, 0, 0.18);
}

/* CARDLIST */

.CardList {
  width: calc(100% - 100px);
  max-width: 1500px;
  margin: auto;
  margin-top: -150px;
}

.Separator {
  width: 100%;
}

.Card {
  width: calc(20% - 60px);
  margin-bottom: 5%;
  position: relative;
  padding-top: 23%;
  animation: fadeUp .3s both;
  z-index: 1;
}

.Card:hover {
  z-index: 2;
}

.Card__Box {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  transition: box-shadow .2s ease;
}

.Card__Box:hover {
  box-shadow: 0 0 0 15px #FFF, 0 15px 60px rgba(0, 0, 0, 0.21);
  background: #FFF;
}

.Card__Image {
  width: 100%;
  padding-top: 150%;
  background: center center / cover no-repeat;
  border-radius: 5%;
  box-shadow: 0 15px 31px -5px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.Card__Text {
  display: none;
  color: var(--text);
}

.Card__Box:hover .Card__Text {
  display: block;
}

.Film__Title {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 17px;
}

.Film__Plot {
  font-size: 15px;
  margin-bottom: 10px;
}

.Film__Info span {
  color: var(--primary);
  font-weight: bold;
}